.spinnerWrapper {
    position: relative;
    max-width: 100px;
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 800ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #0B68EF !important;
    border-left-color: #0B68EF !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}