.LotsOfPhotosPage {
    margin-top: 30px;
}

.textBlock {
    h3 {
        font-size: 20px;
        font-family: "Grandis Extended", sans-serif;
        font-weight: 500;
        margin-bottom: 5px;
    }

    span {
        font-size: 20px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
    }
}

.tableWrapper {
    margin-top: 32px;
    max-height: 560px;
    overflow-y: auto;
}

.getPhotoBlock {
    margin: 30px auto 0;
    width: 950px;
    height: 530px;
    background: #F4F4F4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 20px;
        font-weight: 400;
        opacity: 0.4;
        color: rgba(0, 0, 0, 0.4);
    }

    cursor: pointer;
}